@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,300&display=swap');

body {
    font-family: 'Roboto Serif', sans-serif;
}

.cat-link {
    color: rgba(12, 67, 42);
    text-decoration: None;
}

.topic-link {
    color: rgba(12, 67, 42);
    text-decoration: None;
}

.name-link {
    color: black;
    font-weight: bold;
    text-decoration: None;
}

.name-list {
    color: green;
    text-decoration: None;

}


