@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')

body {
    font-family: 'Roboto', sans-serif;
}

.cat-link {
    color: rgba(12, 67, 42);
    text-decoration: None;
}

.topic-link {
    color: rgba(12, 67, 42);
    text-decoration: None;
}

.name-link {
    color: black;
    font-weight: bold;
    text-decoration: None;
}

.name-list {
    color: green;
    text-decoration: None;

}

.index-link {
    color: black;
    text-decoration: None;
}


.notif-link {
    color: red;
    font-weight: bold;
    font-size: 1.5rem;
}

.admin-col {
    color: rgba(25, 135, 84);
    font-size: 6rem;
}

.circle {
    border-radius: 50%;
}