{% extends "base_forum.html" %}
{% load static %}

{% block title %}Forum de {{ forum.forum_master.username }}{% endblock %}

{% block body %}


{% for category in categories %}
<div class="container shadow-lg rounded border p-5 mb-5">


    <div class="card">
        <div class="card-header justify-content-between d-flex fw-bold" style="background-color: rgba(136, 204, 136);">
            <div>{{ category.name }}</div>
            <div>Sujets</div>
            <div>Messages</div>
            <div>Dernier message</div>

        </div>

        {% for subcategory in category.subcategories.all %}
        <div class="justify-content-between d-flex">
            <div>{{ subcategory.name }}</div>
            <div>{{ subcategory.topic_set.all.count }}</div>
            <div>{{ subcategory.topic_set.last }}</div>
            <div>{{ subcategory.number_of_messages }}</div>
        </div>

        {% endfor %}


    </div>

</div>
{% endfor %}
{% endblock %}