{% extends "base_forum.html" %}
{% load static %}

{% block title %}Forum de {{ forum.forum_master.username }}{% endblock %}

{% block head %}
<hr>
<p>{{ forum.description }}</p>
{% endblock %}
{% block body %}


{% for category in categories %}
<div class="container shadow-lg rounded border p-5 mb-5">


    <div class="card text-center">
        <div class="card-header row fw-bold mx-0" style="background-color: rgba(136, 204, 136);">
            <div class="col-6">Catégorie</div>
            <div class="col-6">Dernier sujet commenté</div>
        </div>

        {% for subcategory in category.subcategories.all %}
        <div class="row border-bottom p-2 mx-0">
            <div class="d-flex justify-content-between align-items-center">
                <div class="col-6">
                    <a class="cat-link"
                       href="{% url 'forum:sub-category' slug_forum=forum.slug pk_forum=forum.pk pk=subcategory.pk slug_sub_category=subcategory.slug %}">
                        <strong>{{ subcategory.name }}</strong>
                    </a><br>
                    <span class="badge bg-success">Sujets : {{ subcategory.topic_set.all.count }}</span><br>
                    <span class="badge bg-secondary">Messages : {{ subcategory.number_of_messages }}</span>
                </div>


                <div class="col-6">{{ subcategory.last_topic_commented }}</div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endfor %}
{% endblock %}