{% extends "base_forum.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Nouveau sujet dans {{ sub_category.name }}{% endblock %}

{% block body %}


<div class="container shadow-lg rounded border p-5 mb-5">
    <div class="row mb-2"><div class="col-3"><a href="{% url 'forum:sub-category' slug_forum=forum.slug pk_forum=forum.pk pk=sub_category.pk slug_sub_category=sub_category.slug %}"><img src="{% static 'assets/return.png' %}" height="40" width="auto"></a></div> </div>
    <div class="row">
        <div class="col-12 text-center">
            <h3>Nouveau sujet dans <span style="color: rgba(25, 135, 84);">{{ sub_category.name }}</span></h3>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-8">
            <form method="post">
                {% csrf_token %}
                {{ form.media }}
                <div class="text-center">
                    {{ form|crispy }}

                    <input type="submit" value="Soumettre" class="btn btn-success">
                </div>
            </form>
        </div>

    </div>
    <div class="row" style="color: red;">
        {% if form.errors %}

        {{ form.errors }}

{% endif %}

    </div>

</div>

{% endblock %}