{% extends "base_forum.html" %}
{% load static %}

{% block title %}{{ sub_category.name }}{% endblock %}

{% block body %}


<div class="container rounded p-5 mb-5">

    <div class="row mb-2"><div class="col-3"><a href="{% url 'forum:index' slug_forum=forum.slug pk_forum=forum.pk %}"><img src="{% static 'assets/return.png' %}" height="40" width="auto"></a></div> </div>

    <div class="row mb-2" style="color: rgba(25, 135, 84);"><h4>{{ sub_category.name }}</h4></div>
    <div class="row mb-2">
        {% if account %}
        {% if account.active %}
        <div class="col-2"><a
                href="{% url 'forum:add-topic' slug_forum=forum.slug pk_forum=forum.pk pk=sub_category.pk slug_sub_category=sub_category.slug %}"
                class="btn btn-success">Nouveau
            sujet</a></div>
        {% endif %}
        {% endif %}
    </div>

    <!-- Sujets épinglés -->
    {% if pin_topics %}
    <div class="card text-center shadow-lg mb-5">
        <div class="card-header row fw-bold mx-0" style="background-color: rgba(255, 218, 185, 1);">
            <div class="col-1"></div>
            <div class="col-6">Sujets épinglés</div>

            <div class="col-5">Dernier message par</div>


        </div>

        {% for pin_topic in pin_topics %}

        <div class="row border-bottom p-2 mx-0">
            <div class="justify-content-between d-flex">
                <div class="col-1 justify-content-center d-flex">

                    {% if request.user == forum.forum_master %}
                <form method="post" action="{% url 'forum:pin' pk_forum=forum.pk pk_topic=pin_topic.pk %}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Epingler">
                    {% csrf_token %}
                        <input type="image" src="{% static 'assets/pin.png' %}" alt="Submit" height="30" width="auto" class="rounded">
                </form>
                    {% endif %}
                </div>
                <div class="col-6 d-flex flex-column align-items-center">
                    <a class="topic-link"
                              href="{% url 'forum:topic' slug_forum=forum.slug pk_forum=forum.pk pk=sub_category.pk slug_sub_category=sub_category.slug pk_topic=pin_topic.pk slug_topic=pin_topic.slug %}">{{ pin_topic.title }}</a>
                    <p><span class="badge bg-secondary">Messages : {{ pin_topic.number_of_messages }}</span></p>
                </div>

                <div class="col-5">{{ pin_topic.last_message }}</div>

            </div>
        </div>

        {% endfor %}


    </div>
    {% endif %}
    <!-- Sujets -->
    <div class="card text-center shadow-lg">
        <div class="card-header row fw-bold mx-0" style="background-color: rgba(136, 204, 136);">
            <div class="col-1"></div>
            <div class="col-6">Sujets</div>
            <div class="col-5">Dernier message par</div>


        </div>

        {% for topic in page_obj %}

        <div class="row border-bottom p-2 mx-0">
            <div class="justify-content-between d-flex">
                <div class="col-1 justify-content-center d-flex">
                     {% if request.user == forum.forum_master %}
                    <form method="post" action="{% url 'forum:pin' pk_forum=forum.pk pk_topic=topic.pk %}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Epingler">
                        {% csrf_token %}
                        <input type="image" src="{% static 'assets/pin.png' %}" alt="Submit" height="30" width="auto" class="rounded">
                    </form>
                    {% endif %}

                </div>
                <div class="col-6 d-flex flex-column align-items-center">

                    <a class="topic-link"
                                      href="{% url 'forum:topic' slug_forum=forum.slug pk_forum=forum.pk pk=sub_category.pk slug_sub_category=sub_category.slug pk_topic=topic.pk slug_topic=topic.slug %}">{{ topic.title }}</a>
                    <span class="badge bg-secondary">Messages : {{ topic.number_of_messages }}</span>
                </div>

                <div class="col-5">{{ topic.last_message }}</div>

            </div>
        </div>

        {% endfor %}


    </div>

    <!-- Pagination -->
    <div class="row mt-5">

 <nav aria-label="Page navigation example">
  <ul class="pagination">

        {% if page_obj.has_previous %}
      <li><a href="?page=1" class="page-link">&laquo; Début</a></li>
      <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Précédent</a></li>
        {% endif %}


        {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}" class="page-link">Suivant</a></li>
      <li> <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Fin &raquo;</a></li>
        {% endif %}

  </ul>
</nav>
        <strong>Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.</strong>

    </div>

</div>

{% endblock %}