{% extends "base_forum.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ topic.title }}{% endblock %}

{% block body %}


<div class="container rounded p-5 mb-5 border shadow-lg">

    {% for message in messages %}


    <div class="card text-center shadow-lg mb-3">
        <div class="card-header" style="background-color: rgba(136, 204, 136);">
            Par {{ message.user.username }} <img class="rounded" src="{{ account.thumbnail_url }}" height="50" width="auto">
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-end">
                {% if request.user == message.user %}
                <a data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Modifier" href="{% url 'forum:update-message' slug_forum=forum.slug pk=sub_category.pk slug_sub_category=sub_category.slug pk_topic=topic.pk slug_topic=topic.slug pk_message=message.pk %}"><img class="rounded" src="{% static 'assets/update.png' %}" height="40" width="auto"></a>
                {% endif %}
                </div>
            {{ message.message|safe }}

        </div>
        <div class="card-footer text-body-secondary">
            Le {{ message.creation }}
            {% if message.update_counter > 0 %}
            <i>Modifié le {{ message.update }}</i>
            {% endif %}
        </div>
    </div>
    {% endfor %}

</div>
<!-- Le formulaire pour répondre -->
<div class="container rounded p-5 mb-5 border shadow-lg">

        <div class="row">
        <div class="col-12 text-center">
            <h3>Réponse au sujet :  <span style="color: rgba(25, 135, 84);">{{ topic.title }}</span></h3>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-8">
            <form method="post">
                {% csrf_token %}
                {{ form.media }}
                <div class="text-center">
                    {{ form|crispy }}

                    <input type="submit" value="Soumettre" class="btn btn-success">
                </div>
            </form>
        </div>

    </div>
    <div class="row" style="color: red;">
        {% if form.errors %}

        {{ form.errors }}

{% endif %}

    </div>

</div>

{% endblock %}