{% extends "base_forum.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ topic.title }}{% endblock %}

{% block body %}

<div class="container p-5 mb-4">
    <div class="row justify-content-between">
        <div class="col-4 shadow-lg">
            <h2>Sujet</h2>
            <h3 style="color: green;">{{ topic.title }}</h3>
            <a href="{% url 'forum:sub-category' slug_forum=forum.slug pk_forum=forum.pk pk=sub_category.pk slug_sub_category=sub_category.slug %}"><img src="{% static 'assets/return.png' %}" height="40" width="auto"></a>
        </div>

    </div>

</div>


<div class="container rounded p-5 mb-5 border shadow-lg">

    {% for message in messages %}


    <div class="card text-center shadow-lg mb-3">
        <div class="card-header" style="background-color: rgba(136, 204, 136);">
            Par <a class="name-link" href="{{ message.account.get_absolute_url }}">{{ message.account.user.username }}</a> <img class="rounded" src="{{ message.account.thumbnail_url }}" height="50"
                                                 width="auto">
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-end">
                {% if request.user == message.account.user and account.active %}
                <a data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Modifier"
                   href="{% url 'forum:update-message' slug_forum=forum.slug pk_forum=forum.pk pk=sub_category.pk slug_sub_category=sub_category.slug pk_topic=topic.pk slug_topic=topic.slug pk_message=message.pk %}"><img
                        class="rounded" src="{% static 'assets/update.png' %}" height="40" width="auto"></a>

                <!-- Button trigger modal -->
                <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#deletemodal{{ message.pk }}">
                </button>

                <!-- Modal -->
                <div class="modal fade" id="deletemodal{{ message.pk }}" tabindex="-1" aria-labelledby="Delete{{ message.pk }}"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="Delete{{ message.pk }}">Supprimer le message</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Cette action est irréversible
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Retour</button>
                                <form method="post" action="{% url 'forum:delete-message' pk_forum=forum.pk pk_topic=topic.pk pk_message=message.pk %}">
                                    {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Confirmer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Enf of Modal -->

                {% endif %}
            </div>
            {{ message.message|safe }}

        </div>
        <div class="card-footer text-body-secondary">
            Le {{ message.creation }}
            {% if message.update_counter > 0 %}
            <i>Modifié le {{ message.update }}</i>
            {% endif %}
        </div>
    </div>
    {% endfor %}

</div>
{% if account %}
{% if account.active %}
<!-- Le formulaire pour répondre -->
<div class="container rounded p-5 mb-5 border shadow-lg">

    <div class="row">
        <div class="col-12 text-center">
            <h3>Réponse au sujet : <span style="color: rgba(25, 135, 84);">{{ topic.title }}</span></h3>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-8">
            <form method="post">
                {% csrf_token %}
                {{ form.media }}
                <div class="text-center">
                    {{ form|crispy }}

                    <input type="submit" value="Soumettre" class="btn btn-success">
                </div>
            </form>
        </div>

    </div>
    <div class="row" style="color: red;">
        {% if form.errors %}

        {{ form.errors }}

        {% endif %}

    </div>

</div>
{% endif %}
{% endif %}
{% endblock %}