{% extends "base_forum.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Modification du message dans {{ topic.title }}{% endblock %}

{% block body %}


<!-- Le formulaire pour répondre -->
<div class="container rounded p-5 mb-5 border shadow-lg">

        <div class="row">
        <div class="col-12 text-center">
            <h3>Modification du message dans :  <span style="color: rgba(25, 135, 84);">{{ topic.title }}</span></h3>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-8">
            <form method="post">
                {% csrf_token %}
                {{ form.media }}
                <div class="text-center">
                    {{ form|crispy }}

                    <input type="submit" value="Modifier" class="btn btn-success">
                </div>
            </form>
        </div>

    </div>
    <div class="row" style="color: red;">
        {% if form.errors %}

        {{ form.errors }}

{% endif %}

    </div>

</div>

{% endblock %}