{% extends "base_forum.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Builder {{ forum.name }}{% endblock %}


{% block body %}

<div class="container mb-5">

    <div class="row text-center"><h2>Gestion des catégories</h2></div>
    <div class="row mb-2"><div class="col-3"><a href="{% url 'forum:admin-index' slug_forum=forum.slug pk_forum=forum.pk %}"><img src="{% static 'assets/return.png' %}" height="40" width="auto"></a></div> </div>

</div>

{% for category in categories %}
<div class="container shadow-lg rounded border p-5 mb-5">




    <div class="card text-center mb-5">
        <div class="card-header row fw-bold mx-0 justify-content-center" style="background-color: rgba(136, 204, 136);">
            <div class="col-6">{{ category.name }}<br>
                <a href="{% url 'forum:admin-update-category' slug_forum=forum.slug pk_forum=forum.pk pk_category=category.pk %}"><img class="rounded" src="{% static 'assets/update.png' %}" height="40" width="auto" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Modifier"></a>
            </div>

            <div class="col-1">


                            <!-- Button trigger modal Delete Category -->
                <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#deletemodal{{ category.pk }}">
                </button>

                <!-- Modal Category -->
                <div class="modal fade" id="deletemodal{{ category.pk }}" tabindex="-1" aria-labelledby="Delete{{ category.pk }}"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="Delete{{ category.pk }}">Supprimer la catégorie</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body" style="color: red;">
                                Cette action est irréversible, les sous-catégories, sujets et messages associés seront perdus.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Retour</button>
                                <form method="post" action="{% url 'forum:delete-category-admin' pk_forum=forum.pk pk_category=category.pk %}">
                                    {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Confirmer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Enf of Modal -->


            </div>
            <div class="col-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Index">{{ category.index }}</div>



        </div>


        {% for subcategory in category.get_sub_categories %}
        <div class="row border-bottom p-2 mx-0">
            <div class="justify-content-center d-flex">
                <div class="col-6"><strong>{{ subcategory.name }}</strong><br>
                <a data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Modifier"
                   href="{% url 'forum:admin-update-subcategory' slug_forum=forum.slug pk_forum=forum.pk pk_subcategory=subcategory.pk %}"><img
                        class="rounded" src="{% static 'assets/update.png' %}" height="40" width="auto"></a>
                </div>
                <div class="col-1">



                    <!-- Button trigger modal Delete SubCategory -->
                <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#deletemodalsub{{ subcategory.pk }} ">
                </button>

                <!-- Modal SubCategory -->
                <div class="modal fade" id="deletemodalsub{{ subcategory.pk }}" tabindex="-1" aria-labelledby="Deletesub{{ subcategory.pk }}"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="Deletesub{{ subcategory.pk }}">Supprimer la sous-catégorie</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body" style="color: red;">
                                Cette action est irréversible, les sujets et messages associés seront perdus.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Retour</button>
                                <form method="post" action="{% url 'forum:delete-subcategory-admin' pk_forum=forum.pk pk_subcategory=subcategory.pk %}">
                                    {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Confirmer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Enf of Modal -->


                </div>
                <div class="col-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Index">{{ subcategory.index }}</div>


            </div>
        </div>
        {% endfor %}


    </div>

    <div class="row justify-content-center text-center">
        <div class="col-4">
            <a href="{% url 'forum:admin-add-sub-category' slug_forum=forum.slug pk_forum=forum.pk pk_category=category.pk %}" class="btn btn-success">Ajouter une sous-catégorie</a>
        </div>

    </div>

</div>
{% endfor %}

<div class="container shadow-lg">
    <div class="row justify-content-around">
        <div class="col-lg-6 col-md-12">
            <h4 class="text-center">Créer une catégorie</h4>
            <form method="post" class="p-5">
                {% csrf_token %}
                {% crispy form %}

            </form>
        </div>
    </div>
</div>

{% endblock %}