{% extends "base_site.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Créer un forum{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row justify-content-around">
        <div class="col-6 shadow-lg">
            <h3 class="text-center">Créer son forum</h3>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success">Créer</button>
                </div>
            </form>
        </div>
        <div class="col-4 text-center shadow-lg">
            <img src="{% static 'assets/header.png' %}" style="width: 500px; height: auto;">

        </div>
    </div>
</div>
{% endblock %}