{% extends "base_forum.html" %}
{% load static %}

{% block title %}Boite personnelle {{ request.user }}{% endblock %}

{% block body %}


<div class="container rounded p-5 mb-5">
    <div class="row mb-2"><div class="col-3"><a href="{% url 'forum:index' slug_forum=forum.slug pk_forum=forum.pk %}"><img src="{% static 'assets/return.png' %}" height="40" width="auto"></a></div> </div>

    <div class="row mb-2" style="color: rgba(25, 135, 84);"><h4>Conversation(s) initiée(s)</h4></div>
    <div class="row mb-2">
        <div class="col-3"><a
                href="{% url 'forum:members-list' slug_forum=forum.pk pk_forum=forum.pk %}"
                class="btn btn-success">Nouvelle conversation</a></div>
    </div>

    <!-- Sujets épinglés -->
    {% if my_conversations %}
    <div class="card text-center shadow-lg mb-5">
        <div class="card-header row fw-bold mx-0" style="background-color: rgba(255, 218, 185, 1);">
            <div class="col-6">Sujets</div>
            <div class="col-6">Dernier message</div>


        </div>

        {% for my_conversation in my_conversations %}

        <div class="row border-bottom p-2 mx-0">
            <div class="justify-content-between d-flex">
                <div class="col-6"><a class="topic-link"
                                      href="{% url 'forum:conversation' slug_forum=forum.slug pk_forum=forum.pk slug_conversation=my_conversation.slug pk_conversation=my_conversation.pk %}">{{ my_conversation.subject }}</a>
                    <br><span class="badge bg-secondary">Messages : {{ my_conversation.number_of_messages }}</span>
                </div>

                <div class="col-6">{{ my_conversation.last_message }}</div>

            </div>
        </div>

        {% endfor %}


    </div>
    {% endif %}
    <div class="row mb-2" style="color: rgba(25, 135, 84);"><h4>Autre(s) conversation(s)</h4></div>
    {% if conversations %}
    <!-- Sujets -->
    <div class="card text-center shadow-lg">
        <div class="card-header row fw-bold mx-0" style="background-color: rgba(136, 204, 136);">
            <div class="col-6">Sujets</div>
            <div class="col-6">Dernier message</div>


        </div>

        {% for conversation in conversations %}

        <div class="row border-bottom p-2 mx-0">
            <div class="justify-content-between d-flex">
                <div class="col-6"><a class="topic-link"
                                      href="{% url 'forum:conversation' slug_forum=forum.slug pk_forum=forum.pk slug_conversation=conversation.slug pk_conversation=conversation.pk %}">{{ conversation.subject }}</a>
                <br><span class="badge bg-secondary">Messages : {{ conversation.number_of_messages }}</span></div>
                <div class="col-6">{{ conversation.last_message }}</div>

            </div>
        </div>

        {% endfor %}


    </div>
{% endif %}
</div>

{% endblock %}