{% extends "base_site.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Signup{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row justify-content-around">
        <div class="col-md-12 col-lg-6 col-xl-4 shadow-lg p-3">
            <h3 class="text-center">Inscription</h3>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-flex justify-content-center">
<button type="submit" class="btn btn-success">Inscription</button>
                </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}