{% extends "base_site.html" %}
{% load crispy_forms_tags %}

{% block title %}RGPD{% endblock %}

{% block body %}

<div class="container shadow-lg rounded border p-5">

    <div class="row justify-content-center">

        <div class="col-lg-6 col-md-12">


            Politique de confidentialité (RGPD)
            PyForum
            Prototype par <a href="https://www.gabrieltrouve.fr/" target="_blank">Gabriel Trouvé</a>

            <h2>Données collectées</h2>
            <p>Nous recevons, collectons et stockons toute information que vous saisissez sur notre site web ou que
                vous nous fournissez de toute autre manière. En outre, nous recueillons l'adresse de protocole Internet
                (IP) utilisée pour connecter votre ordinateur à l'Internet ; l'adresse e-mail ; le mot de passe ; les
                informations sur l'ordinateur et la connexion. Nous pouvons utiliser des
                outils logiciels pour mesurer et collecter des informations de session, y compris les temps de réponse
                des pages, la durée des visites sur certaines pages, les informations sur l'interaction entre les pages
                et les méthodes utilisées pour naviguer hors de la page. Nous recueillons également des informations
                d'identification personnelle (y compris les nom/prénom, l'adresse électronique, le mot de passe, les
                communications).

            </p>

            <h2>Comment sont recueillies les informations</h2>
            <p>Lorsque vous vous inscrivez sur notre site, nous recueillons vos nom, prénom, adresse email et mot de
                passe.</p>

            <h2>Pourquoi recueillir ces informations</h2>
            <p>Nous recueillons ces informations aux fin suivantes :</p>

            <p>Pouvoir vous connecter sur notre site avec un email et un mot de passe,
                Pour que vous puissiez vous connecter sur notre site avec une adresse email valide,
                Communiquez avec vous, adresse email valide ainsi que vos nom et prénom.</p>

            <h2>Stockage des données</h2>
            <p>Notre site est hébergée sur https://eu.pythonanywhere.com/ .

                PythonAnywhere LLP est une société enregistrée en Angleterre et au Pays de Galles, filiale d'Anaconda
                Services (UK) Limited.

                Adresse enregistrée : 5 The Green, Richmond TW9 1PL, Royaume-Uni.
            </p>
            <p>
                Vous pouvez à tout moment nous demander de supprimer votre compte.
            </p>
            <h2>Communication</h2>
            <p> Nous pouvons vous contacter pour vous informer sur votre compte, pour résoudre un problème sur votre
                compte ou un litige. Nous communiquons par email.

                MAJ
                Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment, aussi nous
                vous invitons à la consulter fréquemment. Les modifications et les clarifications prendront effet dès
                leur publication sur le site web. Si nous apportons des modifications importantes à la présente
                politique, nous vous informerons ici de sa mise à jour, afin que vous sachiez quelles informations nous
                recueillons, comment nous les utilisons et dans quelles circonstances, le cas échéant, nous les
                utilisons et/ou les divulguons.</p>

            <h2>Nous contacter</h2>
            <p>Vous pouvez directement nous contacter via notre formulaire de contact.</p>


        </div>


    </div>

</div>


{% endblock %}